﻿@page "/CreateCharacter"
<style>
    h1 {
        padding: 10px;
    }

    p {
        margin: 10px;
    }
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body class="medievalBoldWhite" style="background-image: url('/fantasy1.jpg'); width: 1600px; height: 860px;">

    <p>
        Character name: <input @bind="name" />
    </p>

    <p>
        Current Race:
        <select class="bold" @onchange="@Selection1">
            <option class="bold" value="">Select a Race</option>
            <option class="bold" value="Races.Dwarf">Dwarf</option>
            <option class="bold" value="Races.Elf">Elf</option>
            <option class="bold" value="Races.Human">Human</option>
        </select>
    </p>

    <p>
        Current Class:
        <select class="bold" @onchange="@Selection2">
            <option class="bold" value="">Select a Class</option>
            <option class="bold" value="Classes.Bard">Bard</option>
            <option class="bold" value="Classes.Rogue">Rogue</option>
            <option class="bold" value="Classes.Wizard">Wizard</option>
        </select>
    </p>

    <p>
        Ability Scores
        <br>
        <select class="bold" @onchange="@AttributeMethod">
            <option class="bold">Select an option</option>
            <option class="bold" value="-1">Standard Array</option>
            <option class="bold" value="0">Manuel/Rolled</option>
            <option class="bold" value="1">Point Buy</option>
        </select>
    </p>

    <p>
        <button class="btn btn-primary" hidden=@array @onclick="findAttributes">Roll Attribute Values</button> <figure hidden=@pointBuy>Points : @points</figure>
    </p>

    <select class="bold" @onchange="@SelectAttribute">
        <option class="bold" selected value="null">select attribute</option>
        @foreach (var item in attributes)
        {
            <option class="bold" value="@item">@item</option>
        }
    </select>

    <select class="bold" hidden=@noBuy @onchange="SelectValue">
        <option class="bold" selected value="-1">select value</option>
        @foreach (var item in choices)
        {
            <option class="bold" value="@item">@item</option>
        }
    </select>

    <select class="bold" hidden=@pointBuy @onchange="SelectValue">
        <option class="bold" selected value="-1">select value</option>
        <option class="bold" value=8>8</option>
        @for (int i = 0; i < list; i++)
        {
            <option class="bold" value="@buyPoints[i]">@valueCost[i]</option>
        }
    </select>

    <button class="btn btn-sm text-white" @onclick="Accept">Accept</button>

    <p>Set Strength: @strength</p>
    <p>Set Dexterity: @dexterity</p>
    <p>Set Constitution: @constitution</p>
    <p>Set Intelligence: @intelligence</p>
    <p>Set Wisdom: @wisdom</p>
    <p>Set Charisma: @charisma</p>

    <p>
        <button class="btn btn-primary" @onclick="SubmitCharacter">Accept Character</button>
    </p>
</body>
@code {

    private Character player = new Character(Races.Dwarf);
    private string name { get; set; }
    private Races race { get; set; }
    private Classes currClass { get; set; }
    private Dice hitDice { get; set; }
    private int speed { get; set; }

    private int strength { get; set; }
    private int dexterity { get; set; }
    private int constitution { get; set; }
    private int intelligence { get; set; }
    private int wisdom { get; set; }
    private int charisma { get; set; }

    private List<int> choices = new List<int> { 15, 14, 13, 12, 10, 8 };
    private List<int> buyPoints = new List<int> { 9, 10, 11, 12, 13, 14, 15 };
    private List<string> attributes = new List<string> { "Strength", "Dexterity", "Constitution", "Intelligence", "Wisdom", "Charisma" };
    private List<string> valueCost = new List<string> { "9 (-1 Points)", "10 (-2 Points)", "11 (-3 Points)", "12 (-4 Points)", "13 (-5 Points)", "14 (-7 Points)", "15 (-9 Points)" };
    private string selection { get; set; }
    private int attrValue { get; set; }
    private int points = 27;
    private bool array = true;
    private bool pointBuy = true;
    private bool noBuy = false;
    private int list = 7;
    
    //User picks Race
    public void Selection1(ChangeEventArgs selectionEvent)
    {
        switch (selectionEvent.Value.ToString())
        {
            case "Dwarf": //+2 to constitution
                race = Races.Dwarf;
                speed = 25;
                player = new Character(race);
                break;
            case "Elf":  //+2 to dexterity
                race = Races.Elf;
                speed = 30;
                player = new Character(race);
                break;
            case "Human": //+1 to all attributes
                race = Races.Human;
                speed = 30;
                player = new Character(race);
                break;
        }
    }

    //User picks Class
    public void Selection2(ChangeEventArgs selectionEvent)
    {
        switch (selectionEvent.Value.ToString())
        {
            case "Bard": //saving throws = Dexterity, Charisma  hit points = 1d8+Constitution modifer
                currClass = Classes.Bard;
                player.classes = currClass;
                break;
            case "Rogue":
                currClass = Classes.Rogue;
                player.classes = currClass;
                break;
            case "Wizard":
                currClass = Classes.Wizard;
                player.classes = currClass;
                break;
        }
    }

    //User picks method to find attributes
    public void AttributeMethod(ChangeEventArgs e)
    {
        int pick = Int32.Parse(e.Value.ToString());
        switch (pick)
        {
            case -1: //Standard array
                choices = new List<int> { 15, 14, 13, 12, 10, 8 };
                pointBuy = true;
                array = true;
                noBuy = false;
                break;
            case 0: //Manuel/Roll
                pointBuy = true;
                array = false;
                noBuy = false;
                break;
            case 1: //Points buy
                choices = new List<int> { 9, 10, 11, 12, 13, 14, 15 };
                pointBuy = false;
                array = true;
                noBuy = true;
                break;
        }
    }

    //Sets attribute to be set
    public void SelectAttribute(ChangeEventArgs selectionEvent)
    {
        selection = selectionEvent.Value.ToString();
    }

    //Sets value for attribute when selected
    public void SelectValue(ChangeEventArgs selectionEvent)
    {
        attrValue = Int32.Parse(selectionEvent.Value.ToString());
    }

    //If Manuel/Rolled is selected
    public void findAttributes()
    {
        choices.Clear();
        choices = DiceMethods.RollAttributes(choices);
    }

    //Track points available when using point buy selection
    public void PointBuyLogic()
    {
        if (!pointBuy)
        {
            if (attrValue > 8 && attrValue < 14)
                points -= attrValue - 8;
            if (attrValue == 14)
                points -= 7;
            if (attrValue == 15)
                points -= 9;
        }

        if (points < 9)
            list = 6;
        if (points < 7)
            list = 5;
        if (points < 5)
            list = 4;
        if (points < 4)
            list = 3;
        if (points < 3)
            list = 2;
        if (points < 2)
            list = 1;
        if (points < 1)
            list = 0;
    }

    //Sets attribute with value and removes from lists
    public void Accept()
    {
        switch (selection)
        {
            case "Strength":
                if (attrValue != -1)
                {
                    strength += attrValue;
                    CleanUp("Strength");
                }
                break;
            case "Dexterity":
                if (attrValue != -1)
                {
                    dexterity += attrValue;
                    CleanUp("Dexterity");
                }
                break;
            case "Constitution":
                if (attrValue != -1)
                {
                    constitution += attrValue;
                    CleanUp("Constitution");
                }
                break;
            case "Intelligence":
                if (attrValue != -1)
                {
                    intelligence += attrValue;
                    CleanUp("Intelligence");
                }
                break;
            case "Wisdom":
                if (attrValue != -1)
                {
                    wisdom += attrValue;
                    CleanUp("Wisdom");
                }
                break;
            case "Charisma":
                if (attrValue != -1)
                {
                    charisma += attrValue;
                    CleanUp("Charisma");
                }
                break;
        }
    }

    //Clean up values used in selection
    public void CleanUp(string attribute)
    {
        PointBuyLogic();
        choices.Remove(attrValue);
        attributes.Remove(attribute);
        selection = null;
        attrValue = -1;
    }

    public async Task SubmitCharacter()
    {
        player.name = name;
        player.strength = strength;
        player.dexterity = dexterity;
        player.constitution = constitution;
        player.intelligence = intelligence;
        player.wisdom = wisdom;
        player.charisma = charisma;
        
        await JsonFiles.SaveCharacter(player);
    }
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .item1 {
            grid-area: a;
        }

        .item2 {
            grid-area: b;
        }

        .item3 {
            grid-area: c;
        }

        .item4 {
            grid-area: d;
        }

        .item5 {
            grid-area: e;
        }

        .item6 {
            grid-area: f;
        }

        .item7 {
            grid-area: g;
        }

        .item8 {
            grid-area: h;
        }

        .item9 {
            grid-area: i;
        }

        .item10 {
            grid-area: j;
        }

        .item11 {
            grid-area: k;
        }

        .item12 {
            grid-area: l;
        }

        .item13 {
            grid-area: m;
        }

        .item14 {
            grid-area: n;
        }

        .item15 {
            grid-area: o;
        }

        .item16 {
            grid-area: p;
        }

        .item17 {
            grid-area: q;
        }

        .item18 {
            grid-area: r;
        }

        .item19 {
            grid-area: s;
        }

        .item20 {
            grid-area: t;
        }

        .item21 {
            grid-area: u;
        }

        .item22 {
            grid-area: v;
        }

        .item23 {
            grid-area: w;
        }

        .item24 {
            grid-area: x;
        }

        .item25 {
            grid-area: y;
        }

        .item26 {
            grid-area: z;
        }

        .item27 {
            grid-area: aa;
        }

        .grid-container {
            display: grid;
            grid-template:
                'a a a a a b b b b b b '
                'c i i i o p q w w w w'
                'd j j  j r r r w w w w'
                'e k k k s s s x x x x'
                'f k k k t t t y y y y'
                'g l l l u u u z z z z'
                'h l l l v v v aa aa aa aa'
                'm l l l n n n aa aa aa aa';
            grid-gap: 10px;
            background-color: #FCF5E5;
            padding: 10px;
        }

            .grid-container > div {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
                padding: 20px 0;
                font-size: 20px;
            }
    </style>
</head>
<body>

    <div class="grid-container medievalBold">
        <div class="item1">
            Character Name: @name
            <br /> Class:   @currClass
            <br /> Level:   1
            <br /> Race:    @race
        </div>


        <div class="item2">
            Background:
            <br />Alignment:
            <br />Experience Points:
            <br />Player Name:
        </div>

        <div class="item3">
            Strength: @strength
            <br /> Mod:
        </div>

        <div class="item4">
            Dexterity: @dexterity
            <br /> Mod:
        </div>

        <div class="item5">
            Constitution: @constitution
            <br /> Mod:
        </div>

        <div class="item6">
            Intelligence: @player.intelligence;
            <br /> Mod:
        </div>

        <div class="item7">
            Wisdom: @wisdom
            <br /> Mod:
        </div>

        <div class="item8">
            Charisma: @charisma
            <br /> Mod:
        </div>

        <div class="item9">Inspiration: </div>

        <div class="item10">Proficiency Bonus: </div>

        <div class="item11">
            Saving Throws:
            <br />
            <br />
            <input type="radio" id="Strength" name="throw" value="strength">
            <label for="strength">__ Strength</label><br>

            <input type="radio" id="Dexterity" name="throw" value="dexterity">
            <label for="dexterity">__ Dexterity</label><br>

            <input type="radio" id="Constitution" name="throw" value="constitution">
            <label for="constitution">__ Constitution</label><br>

            <input type="radio" id="Intelligence" name="throw" value="intelligence">
            <label for="intelligence">__ Intelligence</label><br>

            <input type="radio" id="Wisdom" name="throw" value="wisdom">
            <label for="wisdome">__ Wisdom</label><br>

            <input type="radio" id="Charisma" name="throw" value="charisma">
            <label for="strength">__ Charisma</label><br>

        </div>

        <div class="item12">
            Skills:
            <br />
            <br />
            <input type="radio" id="Acrobatics" name="skills" value="acrobatics">
            <label for="acrobatics">__ Acrobatics(dex)</label><br>

            <input type="radio" id="Animal Handling" name="skills" value="animal 					handling">
            <label for="animal handling">__ Animal Handling(wis)</label><br>

            <input type="radio" id="Arcana" name="skills" value="arcana">
            <label for="arcana">__ Arcana(int)</label><br>

            <input type="radio" id="Athletics" name="skills" value="athletics">
            <label for="athletics">__ Athletics(str)</label><br>

            <input type="radio" id="Deception" name="skills" value="deception">
            <label for="deception">__ Deception(cha)</label><br>

            <input type="radio" id="History" name="skills" value="history">
            <label for="history">__ History(int)</label><br>

            <input type="radio" id="Insight" name="skills" value="insight">
            <label for="insight">__ Insight(wis)</label><br>

            <input type="radio" id="Intimidation" name="skills" value="intimidation">
            <label for="intimidation">__ Intimidation(cha)</label><br>

            <input type="radio" id="Investigation" name="skills" value="investigation">
            <label for="investigation">__ Investigation(int)</label><br>

            <input type="radio" id="Medicine" name="skills" value="medicine">
            <label for="medicine">__ Medicine(wis)</label><br>

            <input type="radio" id="Nature" name="skills" value="nature">
            <label for="nature">__ nature(int)</label><br>

            <input type="radio" id="Perception" name="skills" value="perception">
            <label for="perception">__ Perception(wis)</label><br>

            <input type="radio" id="Performace" name="skills" value="performance">
            <label for="performance">__ Performance(cha)</label><br>

            <input type="radio" id="Persuasion" name="skills" value="persuasion">
            <label for="persuasion">__ Persuasion(wis)</label><br>

            <input type="radio" id="Religion" name="skills" value="religion">
            <label for="religion">__ Religion(int)</label><br>

            <input type="radio" id="Sleight of Hand" name="skills" value="sleight of 				hand">
            <label for="sleight of hand">__ Sleight of Hand(dex)</label><br>

            <input type="radio" id="Stealth" name="skills" value="stealth">
            <label for="stealth">__ Stealth(dex)</label><br>

            <input type="radio" id="Survival" name="skills" value="survival">
            <label for="survival">__ Survival(wis)</label><br>

        </div>

        <div class="item13"> Passive Wisdom (Perception): </div>

        <div class="item14"> Other Proficiencies & Languages: </div>

        <div class="item15"> Armor Class: </div>
        <div class="item16"> Initiative: </div>
        <div class="item17"> Speed: </div>

        <div class="item18">
            Hit Point Max:
            <br />
            Current Hit Points:
            <br />
            Temporary Hit Points:
            <br />

        </div>

        <div class="item19">
            Hit Dice
            <br />
            <br />
            Total:
        </div>

        <div class="item20">
            Death Saves
            <br />
            <br />
            Sucesses:
            <br />
            Failures:
        </div>

        <div class="item21">
            Attacks & Spell Casting
            <br />
            <br />
            Name:
            <br />
            Attack Bonus:
            <br />
            Damage/Type:
        </div>

        <div class="item22"> Equipment: </div>

        <div class="item23"> Personality Traits: </div>

        <div class="item24"> Ideals </div>

        <div class="item25"> Bonds </div>

        <div class="item26"> Flaws </div>

        <div class="item27"> Features & Traits </div>


    </div>

</body>
</html>



