﻿@page "/"
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>
    <h1 class="medievalBold">Welcome to Project Initiative.</h1>
    <h4 class="medievalBold">Created by team Hello, world!</h4>

