﻿@page "/Interaction"

<style>
    h1, h2 {
        padding: 10px;
    }

    p {
        margin: 10px;
    }
</style>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body class="medievalBoldBrown" style="background-image: url('/fantasy1.jpg'); width: 1600px; height: 860px;">

    <h1>Interaction</h1>

    <h2><u>Chests</u></h2>

    <button @onclick="GenerateChests" class="bold marginTenPix boldBrownButton">Generate Chests</button>

    <br /><br />

    <button disabled="@chestButtons" @onclick="openChest1" class="bold margin5pixBy10pix boldBrownButton">Chest 1</button>
    <button disabled="@chestButtons" @onclick="openChest2" class="bold margin5pixBy10pix boldBrownButton">Chest 2</button>
    <button disabled="@chestButtons" @onclick="openChest3" class="bold margin5pixBy10pix boldBrownButton">Chest 3</button>

    <p>
        <select class="form-control backgroundGrey" size="4" multiple style="width:40%;">
            @for (int i = items.Count - 1; i >= 0; i--)
            {
                string msg = items[i];
                if (msg.ToLower() == "empty")
                {
                    <option class="bold">Chest is empty.</option>
                }
                else
                {
                    <option class="bold boldBrown">You found a @msg!</option>
                }
            }
        </select>
    </p>

    <h2><u>Custom Chests</u></h2>

    <p>
        Custom item: <input @bind="customItem"/>
    </p>

    <button @onclick="openCustomChest" class="bold margin5pixBy10pix boldBrownButton">Import Custom Item</button>
    <button @onclick="clearLog" class="bold margin5pixBy10pix boldBrownButton">Clear Log</button>

</body>

    @code {

        private List<Chest> chests = new List<Chest>();
        private List<string> items = new List<string>();
        private string customItem = null;
        private bool chestButtons = true;

        private void GenerateChests()
        {
            chests.Clear();
            chests.Add(new Chest());
            chests.Add(new Chest());
            chests.Add(new Chest());
            chestButtons = false;
        }

        private void openChest1()
        {
            if (!chests[0].getOpen())
            {
                items.Add(chests[0].openChest());
            }
        }

        private void openChest2()
        {
            if (!chests[1].getOpen())
                items.Add(chests[1].openChest());
        }

        private void openChest3()
        {
            if (!chests[2].getOpen())
                items.Add(chests[2].openChest());
        }

        private void openCustomChest()
        {
            if (!String.IsNullOrEmpty(customItem))
            {
                Chest customChest = new Chest(false, customItem);
                items.Add(customChest.openChest());
            }
        }

        private void clearLog()
        {
            items.Clear();
        }

    }
