﻿@page "/RollDice"

<style>
    h1, h4 {
        padding: 10px;
    }

    p {
        margin: 10px;
    }
</style>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body class="medievalBoldBrown" style="background-image: url('/fantasy2.jpg'); width: 1600px; height: 860px;">

    <h1>Roll Dice</h1>

    <p>Input Rolls <input class="bold backgroundLightBlue" value=@InputRolls @onchange="GetRolls" /></p>

    <p>
        Select Die
        <select class="bold backgroundLightBlue" @onchange="@Selectd20">
            <option class="bold" value="0">Select a die</option>
            <option class="bold" value="2">D2</option>
            <option class="bold" value="4">D4</option>
            <option class="bold" value="6">D6</option>
            <option class="bold" value="8">D8</option>
            <option class="bold" value="10">D10</option>
            <option class="bold" value="12">D12</option>
            <option class="bold" value="20">D20</option>
            <option class="bold" value="100">D100</option>
        </select>
    </p>

    <p>
        Advantage/Disadvantage
        <select class="bold backgroundLightBlue" @onchange="@SelectMod">
            <option class="bold" value="-1">None</option>
            <option class="bold" value="0">Advantage</option>
            <option class="bold" value="1">Disadvantage</option>
        </select>
    </p>

    <p>
        <button class="btn btn-success boldBrownButton" disabled=@noRoll @onclick="ShowRoll">Roll</button>    
    </p>

    <p>
        Current Roll: @roll
    </p>

    <h4 class="bold">Roll Log</h4>

    <p>
        <select class="form-control backgroundLightBlue" size="4" multiple style="width:40%;">
            @foreach (string msg in rolls)
            {
                <option class="bold">@msg</option>
            }
        </select>
    </p>

    <p>
        <button class="btn btn-success boldBrownButton" @onclick="ClearLog">Clear Log</button>
    </p>
</body>
@code {

    private int InputRolls = 0;
    private int InputSides { get; set; }
    private int currentCount;
    private int modifier = -1;
    private string roll { get; set; }
    private List<string> rolls = new List<string>();
    private bool noRoll = true;

    //Roll dice for user
    private void ShowRoll()
    {
        if (modifier < 0)
        {
            roll = DiceMethods.RollToString(InputRolls, InputSides);
            rolls.Add(roll);
            currentCount = DiceMethods.RollDice(InputRolls, InputSides);
        }
        else
        {
            roll = DiceMethods.ModRollToString(InputRolls, InputSides, modifier);
            rolls.Add(roll);
        }
    }

    //Which die would the user like to throw?
    private void Selectd20(ChangeEventArgs e)
    {
        InputSides = Int32.Parse(e.Value.ToString());
        CanRoll();
    }

    //How many dice does the user want to throw?
    private void GetRolls(ChangeEventArgs e)
    {
        InputRolls = Int32.Parse(e.Value.ToString());
        CanRoll();
    }

    //User can select to roll with advantage or disadvantag
    private void SelectMod(ChangeEventArgs e)
    {
        modifier = Int32.Parse(e.Value.ToString());
        if (modifier != -1)
            InputRolls = 2;
        CanRoll();
    }

    //Has player selected a die and how many to roll?
    private void CanRoll()
    {
        if (InputRolls < 1 || InputSides < 2)
            noRoll = true;
        else
            noRoll = false;
    }

    //Clear roll log
    private void ClearLog()
    {
        rolls.Clear();
    }
}
