﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Project Initiative</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CreateAccount">
                <span class="oi oi-person" aria-hidden="true"></span> Create Account
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CreateCharacter">
                <span class="oi oi-people" aria-hidden="true"></span> Create Character
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RollDice">
                <span class="oi oi-random" aria-hidden="true"></span> Roll Dice
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Interaction">
                <span class="oi oi-box" aria-hidden="true"></span> Interaction
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="JsRazorExample">
                <span class="oi oi-document" aria-hidden="true"></span> JavaScript Example
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
